<!DOCTYPE html>
<html>
<head>
        <title> Cadastro de Jogos </title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
    
</head>

<body>

   <nav class="navbar navbar-expand-sm navbar-light bg-warning">
        <a class="navbar-brand" href="#">
                <img src="" width="30" height="30" class="d-inline-block align-top" alt="">
                yellowstone
        </a>

        
</nav>

<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Jogos e consoles</h1>
        </div>
</div>
<br>
    <form action="/logProd/cadastroJogos" method="POST">
        <div class="row">
            <div class="col">
                    <input type="text" class="form-control" placeholder="Título" name="titulo">
                    <br>
                    <input type="text" class="form-control" placeholder="Código" name="codigo">
                    <br>
                    <input type="number" step="0.01" class="form-control" placeholder="Preço" name="preço">
            </div>
            <div class="col">
                    <input type="text" class="form-control" placeholder="Gênero" name="genero">
                    <br>
                    <input type="text" class="form-control" placeholder="Áudio" name="audio">
                    <br>
                    <input type="text" class="form-control" placeholder="Conteúdo da embalagem" name="conteudo">
            </div>
            <div class="col md-4">
                    <select id="inputState" class="form-control" name="plataforma">
                      <option selected>Plataforma...</option>
                      <option value="PlayStation 4">PlayStation 4</option>
                      <option value="Xbox One" >Xbox One</option>
                      <option value="Nintendo Switch" >Nintendo Switch</option>

                    </select>
                    <br>
                    <input type="url" class="form-control" placeholder="Imagem" name="imagem">
                    <br>
                    <input type="text" class="form-control" placeholder="tag1" name="tag1">
                    <br>
                    <input type="text" class="form-control" placeholder="tag2" name="tag2">
                    <br>
                    <input type="text" class="form-control" placeholder="tag3" name="tag3">
            </div>
            
        </div>
        <br>
        <button type="submit" class="btn btn-success">Cadastrar</button>
    </form>
    <br>
<a href="/logProd/cadastroProdutos"><button class="btn btn-danger">Voltar</button></a>

</body>
</html>
