<!DOCTYPE html>
<html>
<head>
        <title> Cadastro de produtos </title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
    
</head>
<body>

                <nav class="navbar navbar-expand-sm navbar-light bg-warning">
                                <a class="navbar-brand" href="../loggedPage">
                                        <img src="" width="30" height="30" class="d-inline-block align-top" alt="">
                                        yellowstone
                                </a>
                
                                
                        </nav>

                <div class="jumbotron jumbotron-fluid">
                                <div class="container">
                                  <h1 class="display-4">Aumente o Inventório</h1>
                                  <p class="lead">Cadastro de produtos</p>
                                </div>
                </div>

<br>
      <div class="container">
              <div class="row">
                      <div class="col-lg-4">
                                <div class="card" style="width: 18rem;">
                                                <div class="image-wrap">
                                                        <img class="card-img" src="http://cdn.vs.com.br/vs-img/1517332385300-video-games-505.jpg" alt="Card image cap">
                                                </div>   
                                                <div class="card-body">
                                                      <h5 class="card-title">Jogos e consoles</h5>
                                                      <a href="/logProd/cadastroJogos" class="btn btn-warning">Cadastrar</a>
                                                </div>
                                </div>
                      </div>
                      <div class="col-lg-4">
                                <div class="card" style="width: 18rem;">
                                                <div class="image-wrap">
                                                        <img class="card-img" src="https://lk5.co/wp-content/uploads/2018/07/geeky-home-office-ideas-decoration-bureau-geek-best-images-on-decor-pinterest.jpg" alt="Card image cap">
                                                </div>   
                                                <div class="card-body">
                                                      <h5 class="card-title">Decoração</h5>
                                                      <a href="/logProd/cadastroDeco" class="btn btn-warning">Cadastrar</a>
                                                </div>
                                </div>
                      </div>
                      <div class="col-lg-4">
                                <div class="card" style="width: 18rem;">
                                                <div class="image-wrap">
                                                        <img class="card-img" src="http://culture.affinitymagazine.us/wp-content/uploads/2017/05/635873821517718970351055939_Stack-of-books-great-education.jpg" alt="Card image cap">
                                                </div>   
                                                <div class="card-body">
                                                      <h5 class="card-title">Livros</h5>
                                                      <a href="/logProd/cadastroLivros" class="btn btn-warning">Cadastrar</a>
                                                </div>
                                </div>
                      </div>

              </div>
      </div>

      
        
  </body>
</html>
